<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.webServer>
		<rewrite>
			<rules>
				<rule xdt:Transform="Insert" name="Backoffice IP Filter excluding localhost" enabled="true" stopProcessing="true">
					<match url="(^umbraco/backoffice/(.*)|^umbraco($|/$))" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false">
						<add input="{HTTP_HOST}" pattern="localhost" negate="true" />
						<add input="{HTTP_CF_Connecting_IP}" pattern="172.27.192.1" negate="true" />
					</conditions>
					<action type="CustomResponse" statusCode="404" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>